html, body {
    height: 100%;
    width: 100%;
    background-color: #1A1C28;
    font-family: 'Lexend Deca';
    font-size: 22px;
  }
    
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .flex-main {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  
  .grid-container {
    width: 70%;
    height: 80vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    gap: 15px;
    background-color: transparent;
    padding: 10px;
    margin: 5% 15%;
  }
  
  .grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .item1 {
    grid-area: 1 / 1 / span 2 / span 6;
    background-color: #EB5020;
  }
  
  .item2 {
    grid-area: 1 / 7 / span 2 / span 3;
    background-color: #FFA401;
  }
  
  .item3 {
    grid-area: 3 / 1 / span 2 / span 4;
    background-color: #05AA42;
  }
  
  .item4 {
    grid-area: 3 / 5 / span 1 / span 5;
    background-color: #01AEFD;
  }
  
  .item5 {
    grid-area: 4 / 5 / span 1 / span 5;
    background-color: #01AEFD;
  }
  
  .button {
    background-color: #4CAF50;
    border: 3px solid #332e2e;
    border-radius: 10px;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    margin-left: 100px;
  }
  
  .flex-container {
    background-color: white;
    margin-bottom: 20px;
  }
  
  .flex-container > div{
    background-color: blue;
  }
  
  .flex-item1 {
    border-radius: 10px 0 0 10px;
    color: white;
    background-color: hsl(31, 77%, 52%);
    padding: 30px;
  }
  .flex-item1 image {
    margin-bottom: 20px;
  }
  .flex-item1 h1 {
    margin: 20px 0;
  }
  .flex-item1 p {
    margin-bottom: 60px;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-weight: 400;
  }
  .flex-item1 button {
    background-color: white;
    border: 2px solid white;
    color: black;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    font-family: 'Lexend Deca';
  }
  .flex-item1 button:hover {
    background-color: transparent;
    color: white;
  }
  
  .flex-item2 {
    border-radius: 0;
    color: white;
    background-color: hsl(184, 100%, 22%);
    padding: 30px;
  }
  .flex-item2 image {
    margin-bottom: 20px;
  }
  .flex-item2 h1 {
    margin: 20px 0;
  }
  .flex-item2 p {
    margin-bottom: 60px;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-weight: 400;
  }
  .flex-item2 button {
    background-color: white;
    border: 2px solid white;
    color: black;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    font-family: 'Lexend Deca';
  }
  .flex-item2 button:hover {
    background-color: transparent;
    color: white;
  }
  
  .flex-item3 {
    border-radius: 0 10px 10px 0;
    color: white;
    background-color: hsl(179, 100%, 13%);
    padding: 30px;
  }
  .flex-item3 image {
    margin-bottom: 20px;
  }
  .flex-item3 h1 {
    margin: 20px 0;
  }
  .flex-item3 p {
    margin-bottom: 60px;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-weight: 400;
  }
  .flex-item3 button {
    background-color: white;
    border: 2px solid white;
    color: black;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    font-family: 'Lexend Deca';
  }
  .flex-item3 button:hover {
    background-color: transparent;
    color: white;
  }
  
  h1 {
    font-family: 'Big Shoulders Display';
    font-size: 30px;
    font-weight: 700;
  }